{% extends  'template.html'%}
{% block content %} 
<center>
<div class="w-50 p-3" >

<h1>Location</h1>
<label>Latitude </label>
<input  class="form-control" type="text" name="latitude" value="{{ latitude }}">
<br>
<label>Longitude</label>
<input  class="form-control" type="text" name="longitude" value="{{ longitude }}">
<br>
<div class="checkbox">
<label>Public location?</label>
<input type="checkbox" name="location" value="True">
</div>
<br>
<input type="submit" name="">
</div>
</center>
{% endblock  %}
