{% extends  'template.html'%}
{% block content %} 
<br>
<br>
<center>

<div class="w-75 p-3" >
<div class=".text-center ">
<div class="alert alert-secondary" role="alert">
	<p>Not avaible in <a href="https://sky--eye.herokuapp.com/"class="alert-link">https://sky--eye.herokuapp.com/ </a> because this not hostend on kit and dont have conection to Sdr
</p>
</div>
<div class="embed-responsive embed-responsive-16by9">
<center>
		<iframe src="localhost:8073" ></iframe>
</center>
</div>
</div>
{% if sdrconet %}
<div class="alert alert-success" role="alert">
 	<b>Sdr is conected</b></p>
</div>   
{% else %}
<div class="alert alert-danger" role="alert">
 	<b>Sdr is not conected</b></p>
</div>
{% endif %}
</div>
</center>
{% endblock  %}
